# IDEs
.idea/
*.xcodeproj/

# c / yacc intermediate files
*.so
*.o
*.dSYM/
y.tab.c

# python
__pycache__/

# macos
.DS_Store

# binaries
build/
src/play/setjmp_play
tdd/bones/tdd_tm

# wip links
include/bk/om.h
src/jones/mod_jones_wip.h

src/bk/om.c
src/jones/mod_jones_wip.c
src/jones/pyom.c
src/jones/pyplay.c
tdd/tdd_bones/tdd_om.c
