#ifndef __ALL_CFG
#define __ALL_CFG "__all.cfg"


// the following control visibility of functions in the output file
#define pvt static
#define pub
#define tdd
//#define tdd static
#define pyapi

// comment out to exclude play
//#define EXCLUDE_PLAY


#endif  // __ALL_CFG