#ifndef __ALL_CFG
#define __ALL_CFG "__all.cfg"


// the following control visibility of functions in the output file
#define pvt static
#define pub
#define tdd
//#define tdd static
#define pyapi

#define INCLUDE_JONES_PLAY

//#define BK_PYTHON_H "Python.h"
//#define BK_DESCROBJECT_H "descrobject.h"
//#define BK_STRUCTMEMBER_H "structmember.h"
#define BK_PYTHON_H "/Users/david/miniforge3/envs/b311/include/python3.11/Python.h"
#define BK_DESCROBJECT_H "/Users/david/miniforge3/envs/b311/include/python3.11/descrobject.h"
#define BK_STRUCTMEMBER_H "/Users/david/miniforge3/envs/b311/include/python3.11/structmember.h"



#endif  // __ALL_CFG